<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<div>
    <nav th:replace="~{/admin/admin_fragments/admin-navbar}"></nav>
</div>
<div class="container mt-4">
    <h2>Orders</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Address</th>
            <th scope="col">Order Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dynamically generate rows for each order using Thymeleaf -->
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">Order ID</td>
            <td th:text="${order.user.id}">User ID</td>
            <td th:text="${order.address}">Address</td>
            <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}">Order Date</td>
            <td th:text="${order.status}">Status</td>
            <td th:text="${order.totalPrice}">Total Price</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
