<!-- src/main/resources/templates/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragment</title>
</head>
<body>

<!-- Footer Fragment -->
<th:block th:fragment="footerFragment">
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <!-- Categories -->
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Categories</h4>
                    <ul>
                        <li class="p-b-10">
                            <a href="shop?gender=female" class="stext-107 cl7 hov-cl1 trans-04">Women</a>
                        </li>
                        <li class="p-b-10">
                            <a href="shop?gender=male" class="stext-107 cl7 hov-cl1 trans-04">Men</a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">&#128293; Sale &#128293;</a>
                        </li>
                    </ul>
                </div>

                <!-- Help -->
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Help</h4>
                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Track Order ?</a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Returns ?</a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Shipping ? Returns ? Track Order ?</a>
                        </li>
                        <li class="p-b-10">
                            <a href="buy-policy" class="stext-107 cl7 hov-cl1 trans-04">Buy policy</a>
                        </li>
                    </ul>
                </div>

                <!-- Contact -->
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>
                    <p class="stext-107 cl7 size-201">Any questions? Let us know in store at Wardrobe Store Studentski Grad, 35 8-th December Str, Sofia, Bulgaria, 1700 or call us on +359 921 458 212</p>
                </div>

                <!-- Newsletter -->
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>
                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="support@wardrobe.conquerors.bg">
                            <div class="focus-input1 trans-04"></div>
                        </div>
                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Copyright -->
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
</th:block>

</body>
</html>
