<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<header th:fragment="navbar">
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">
                <!-- Logo desktop -->
                <a href="/index" class="logo">
                    <img src="/images/logo.png" alt="IMG-LOGO">
                </a>
                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="/index">Home</a>
                        </li>

                        <li>
                            <a href="/shop">Shop</a>
                        </li>

                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/faq">FAQs</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a href="/admin">Admin</a>
                        </li>

                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <a th:href="@{/shopping-cart}" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" title="Cart"
                       th:if="${#authorization.expression('isAuthenticated()')}" >
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>

                    <a href="/users/login" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" title="Cart"
                       th:unless="${#authorization.expression('isAuthenticated()')}">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>

                    <!-- Бутон за логин -->
                    <ul class="main-menu">
                        <li class=" dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                            <a href="#" style="font-size: 24px;">
                                <i class="zmdi zmdi-account"></i>
                            </a>
                            <ul class="sub-menu">
                                <li sec:authorize="!isAuthenticated()">
                                    <a href="/users/login">Login</a>
                                </li>
                                <li sec:authorize="!isAuthenticated()">
                                    <a href="/users/register">Register</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="sub-menu-item">
                                    <a th:href="@{/users/account}" class="sub-menu-link">Account</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <form th:method="post"
                                          th:action="@{/users/logout}">
                                        <input type="submit" class="btn btn-link" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="index"><img src="/images/logo.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                <i class="zmdi zmdi-search"></i>
            </div>

            <a class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" title="Cart" href="/shopping-cart">
                <i class="zmdi zmdi-shopping-cart"></i>
            </a>

            <!-- Бутон за логин -->
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" title="Login">
                <ul class="main-menu">
                    <li class=" dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <a href="#" style="font-size: 24px;">
                            <i class="zmdi zmdi-account"></i>
                        </a>
                        <ul class="sub-menu">
                            <li sec:authorize="!isAuthenticated()">
                                <a href="/users/login">Login</a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a href="/users/register">Register</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <form th:method="post"
                                      th:action="@{/users/logout}">
                                    <input type="submit" class="btn btn-link" value="Logout"/>
                                </form>
                            </li>
                        </ul>
                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="/index">Home</a>
            </li>

            <li>
                <a href="/shop">Shop</a>
            </li>

            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/faq">FAQs</a>
            </li>
            <!-- Добавено Admin -->
            <li sec:authorize="hasRole('ADMIN')">
                <a href="/admin">Admin</a>
            </li>
        </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="/images/icons/icon-close2.png" alt="CLOSE">
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>
</header>
</body>
</html>