<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body class="animsition">

<!-- Header -->
<header class="v4">
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>
</header>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Our Buy Policy
    </h2>
</section>

<!-- Information Content page -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="p-lr-70 p-t-55 p-b-70">
                    <div class="restricted-width">
                        <p class="stext-102 cl3">Welcome to our Wardrobe. We specialize in providing quality clothing and accessories. Our Buy Policy outlines the terms and conditions that govern your purchase of products from our website. By placing an order with us, you agree to the following terms:</p>
						<br>
                        <h5 class="h5-custom-color">1. Product Descriptions</h5>
                        <p class="stext-102 cl3">We endeavor to describe and display our products as accurately as possible. However, we cannot guarantee that the color, texture, or detail of the product will be exactly as depicted on your screen.</p>
                        <br>
						<h5 class="h5-custom-color">2. Pricing and Availability</h5>
                        <p class="stext-102 cl3">Prices for our products are subject to change without notice. All products are subject to availability, and we reserve the right to impose quantity limits on any order, to reject all or part of an order, and to discontinue products without notice, even if you have already placed your order.</p>
                        <br>
						<h5 class="h5-custom-color">3. Payment</h5>
                        <p class="stext-102 cl3">Payment must be received by us before our acceptance of an order. We accept payment via credit card, debit card, PayPal, and other payment methods as indicated on our website.</p>
                        <br>
						<h5 class="h5-custom-color">4. Shipping and Handling</h5>
                        <p class="stext-102 cl3">You will be charged a shipping and handling fee, which will be outlined at the time of your purchase. We strive to dispatch orders promptly, but we cannot guarantee delivery times.</p>
                        <br>
						<h5 class="h5-custom-color">5. Returns and Exchanges</h5>
                        <p class="stext-102 cl3">We accept returns and exchanges within 30 days of receipt. Items must be in new, unworn condition with all original tags attached. Customers are responsible for return shipping costs, unless the item is defective or an error has occurred on our part.</p>
                        <br>
						<h5 class="h5-custom-color">6. Cancellations</h5>
                        <p class="stext-102 cl3">You may cancel your order within 24 hours of purchase for a full refund. If you cancel your order after 24 hours, it may be too late to stop the order from shipping.</p>
                        <br>
						<h5 class="h5-custom-color">7. Limitation of Liability</h5>
                        <p class="stext-102 cl3">In no event shall we be liable for any indirect, incidental, punitive, or consequential damages of any kind related to your purchase of products from us.</p>
                        <br>
						<h5 class="h5-custom-color">8. Disputes</h5>
                        <p class="stext-102 cl3">Any dispute related in any way to your visit to our Wardrobe or products you purchase from us shall be arbitrated by state or federal court, and you consent to exclusive jurisdiction and venue of such courts.</p>
                        <br>
						<h5 class="h5-custom-color">9. Contact Information</h5>
                        <p class="stext-102 cl3">For any questions regarding our Buy Policy, please contact us at support@wardrobe.conquerors.bg</p>
                        <br>
						<p class="stext-102 cl3">Thank you for shopping with our Wardrobe. We appreciate your business and are here to provide you with quality clothing and excellent customer service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Footer -->
<footer th:replace="~{fragments/footer}"></footer>

<!-- Essential Scripts -->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<script src="js/main.js"></script>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
